p {
    font-size: 5vw;
}

.delay {
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    50% { 
        color: brown;
        rotate: 360deg;

    }
    to {
        margin-left: 0%;
    }
}
.getbig {
    animation: 3s infinite alternate getbig;
}
@keyframes getbig {
    from {
        font-size: 1vw
        color: red;
    }
    to {
        font-size: 10vw;
        color: blueviolet;
    }
}

#hover {
    font-size: 5vw;
    transition-property: font-size;
    transition-duration: 3s;
    transition-delay: 0.5s;
}
#hover:hover {
    font-size: 10vw;
    color: red;
}