body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}
#box1:hover {
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

@keyframes box2move{
    from {top: 15vw;
        left:0vw};
    }
    to {
        bottom: 20vw;
        right: 20vw};
    
